// src/styles/register.scss
.register-popup-container {
  text-align: center;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .validation-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .register-btn {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  .register-btn:hover {
    background-color: #45a049;
  }

  .close-btn {
    background-color: black;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  .close-btn:hover {
    background-color: #999;
    color: black;
  }
}
